# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Django specific
*.log
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
.env/

# MacOS
.DS_Store

# Windows
Thumbs.db
